In [7]:
import project1 as reeth

In [8]:
materials_path='materials.csv'
matpost_path='matpost.csv'

In [9]:
labels_dict={'code':'CODE',
             'mat_type':'MATERIAL_TYPE',
             'name':'NAME',
             'mat_code':'MAT_CODE',
             'names':'Names',
             'tran_date':'TRAN_DATE',
             'purchase':'Purchase',
             'issue':'Issue',
             'qty':'QTY',
             'compunit_id':'COMPUNIT_ID',
             'qty_nos':'QTY_NOS',
             'mat_qty':'MAT_QTY',
             'mat_rate':'MAT_RATE',
             'mat_value':'MAT_VALUE'}

In [10]:
mat = reeth.matfunc(materials_path,matpost_path,labels_dict)

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning:

Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.

In [11]:
mat.head()

,Names,COMPUNIT_ID,QTY,QTY_NOS,MAT_QTY,MAT_RATE,MAT_VALUE,Purchase,Issue
TRAN_DATE,,,,,,,,,
2015-03-05,BOP TAPE 2INCH BROWN,101,-3.0,0,0.0,0.0,0.0,0.0,3.0
2015-03-09,GOGGEL,103,-1.0,0,0.0,0.0,0.0,0.0,1.0
2015-03-09,MASK,103,-20.0,0,0.0,0.0,0.0,0.0,20.0
2015-03-09,Terpainter,103,-10.0,0,0.0,0.0,0.0,0.0,10.0
2015-03-11,BAR ROUND 45 MM,101,-2.0,0,0.0,0.0,0.0,0.0,2.0

In [12]:
reeth.get_most(mat,20)

['RUNNER RISER-CI/SG', 'FERRO SILICON', 'SCRAP M.S.', 'RUNNER RISER-STEEL', 'MANGANESE H.C.', 'SCRAP CRCA', 'CARBORISER(ENCARB-A)', 'FERRO SILICON MAGNESIUM', 'FERRO INNOCULANT RESEED (0.2 MM TO 0.7 MM)', 'SCRAP S.G.I.BOARING', 'FERRO INNOCULANT RESEED(2 MM TO 6 MM)', 'FERRO INNOCULANT SUPERSEED(2 MM TO 6MM)', 'FERRO INNOCULANT SUPERSEED (0.2-0.7 MM)', 'SCRAP C.I.BOARING', 'SCRAP COPPER', 'PETROLIUM COKE', 'REAR HUB', 'FRONT AXLE SUPPORT ASSY WITH BUSH  007608161V91', 'CHROME H.C.', 'SCRAP ALLUMINIUM']

In [13]:
reeth.mat_by_name(mat,'SCRAP M.S.')

            QTY_NOS  MAT_QTY  MAT_RATE     MAT_VALUE     Purchase      Issue
TRAN_DATE
2015-04-30      159      0.0  0.000000      0.000000      164.105       0.00
2015-05-31      260      0.0  4.545455  49750.000000      269.440   43780.00
2015-06-30      348      0.0  4.545455  37977.272727      359.490   50130.00
2015-07-31      324      0.0  2.777778  38726.851852   126196.965   41825.00
2015-08-31   134293      0.0  0.000000      0.000000   186214.071  123297.10
2015-09-30   254458      0.0  0.414729   2856.899225   320249.564  239621.70
2015-10-31   223835      0.0  0.152249    785.605536   301419.704  252004.10
2015-11-30   222045      0.0  0.000000      0.000000   275054.224  125549.00
2015-12-31   109885      0.0  0.000000      0.000000   204812.699  182290.30
2016-01-31        0      0.0  0.292857    919.571429   106761.154  201934.00
2016-02-29   159038      0.0  0.000000      0.000000   332528.930  282619.30
2016-03-31   246640      0.0  0.129032    410.322581   725873.804  379725.00
2016-04-30   199210      0.0  0.124224    550.931677   287973.473  224021.00
2016-05-31   227645      0.0  0.000000      0.000000   325685.605  258814.00
2016-06-30   197475      0.0  0.000000      0.000000   319962.908  290009.70
2016-07-31   154145      0.0  0.056657    584.985836   271552.599  410260.10
2016-08-31   360340      0.0  0.000000      0.000000   468716.730  414148.70
2016-09-30   242015      0.0  0.000000      0.000000   244175.620  189287.00
2016-10-31   246660      0.0  0.000000      0.000000   313184.440  234885.90
2016-11-30   401435      0.0  0.000000      0.000000   517465.090  348350.52
2016-12-31   413895      0.0  0.000000      0.000000   518254.750  354665.00
2017-01-31   203790      0.0  0.000000      0.000000   319345.069  329653.60
2017-02-28   166275      0.0  0.000000      0.000000   274585.114  247966.50
2017-03-31   176510      0.0  0.000000      0.000000  1079682.825  353493.70
2017-04-30   137165      0.0  0.000000      0.000000   430278.143  313503.10
2017-05-31   243945      0.0  0.000000      0.000000   351384.373  259835.10
2017-06-30   331966      0.0  0.000000      0.000000   548900.386  367838.30
2017-07-31   342215      0.0  0.000000      0.000000   434939.937  411099.50
2017-08-31   352160      0.0  0.000000      0.000000   377950.897  358632.00
2017-09-30   238105      0.0  0.000000      0.000000   383294.100  359909.10
2017-10-31   304045      0.0  0.000000      0.000000   304045.000  325609.84
2017-11-30   338995      0.0  0.000000      0.000000   447769.870  369123.13
2017-12-31   133815      0.0  0.000000      0.000000   248700.000  332205.95
2018-01-31    67640      0.0  0.000000      0.000000   241040.050  223843.50
2018-02-28   161870      0.0  0.315193   1942.199142   234402.200  226821.70
2018-03-31   267220      0.0  0.179845   1120.658915   316141.500  288647.40
2018-04-30   187470      0.0  0.044723    488.372093   235032.650  275187.65
2018-05-31   145010      0.0  0.230035   1699.609375   235105.800  268635.00
2018-06-30   310810      0.0  0.144430    733.082902   330196.000  308879.90
2018-07-31   321520      0.0  0.000000      0.000000   387675.600  321446.40
2018-08-31   239335      0.0  0.000000      0.000000   270334.830  301529.03
2018-09-30   125410      0.0  0.073855    724.889217   228793.930  289624.09
2018-10-31   284055      0.0  0.000000      0.000000   360519.750  354106.55
2018-11-30   142230      0.0  0.000000      0.000000   221228.400  264917.10
2018-12-31   176830      0.0  0.198842   1671.428571   222814.500  165833.80